@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@keyframes border-change {
  0% {
      background-color: #ff0066;
      border-top-left-radius: 70% 60%;
      border-top-right-radius: 30% 40%;
      border-bottom-right-radius: 30% 60%;
      border-bottom-left-radius: 70% 40%;
  }
  25% {
      background-color: #be007f;
      border-top-left-radius: 40% 60%;
      border-top-right-radius: 70% 50%;
      border-bottom-right-radius: 60% 60%;
      border-bottom-left-radius: 40% 80%;
  }
  50% {
      background-color: #e92074;
      border-top-left-radius: 80% 70%;
      border-top-right-radius: 40% 60%;
      border-bottom-right-radius: 80% 50%;
      border-bottom-left-radius: 60% 60%;
  }
  100% {
      background-color: #992071;
      border-top-left-radius: 60% 60%;
      border-top-right-radius: 70% 70%;
      border-bottom-right-radius: 85% 90%;
      border-bottom-left-radius: 57% 47%;
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #01161E;
}

#main_page_container {
  /* VVVVVVV */
  flex: 1;
  /* ^^^^^^^ */

  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

#header {
  margin: 10px;
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
}

/* Type something area goes here */
.large_text_gather {
  margin: 10px;
  padding: 120px;
  max-width: 200px;
  max-height: 100px;
  align-self: center;
  
  /* flex content */
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;

  /* animation */
  animation-name: border-change;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.large_text_gather * {
  font-family: 'Lato', sans-serif;
  font-size: large;
  color: white;
}

.large_text_gather input {
  color: black;
}

.large_text_gather button {
  transition: background-color 0.5s ease-out;
  text-align: center;
  background-color: #0098d4;
  border: none;
  border-radius: 4px;
  padding: 6px;
}

.large_text_gather button:hover {
  padding: 8px;
  background-color: #00b7ff;
}

/* Cards */
.card_showcase {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  left:0;
  right:0;
  width: 100%;
  margin: 0 !important;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgb(223,243,227);
  background: radial-gradient(circle, rgba(223,243,227,1) 0%, rgba(226,244,230,1) 49%, rgba(231,246,234,1) 100%);
  gap: 12px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-self: top;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #77A0A9;
  padding: 15px;
  border-radius: 8px;
  max-width: 100px;
  height: 200px;
}

.card img {
  max-width: 100px;
  max-height: 100px;
  align-self: center;
}

/* footer stuff */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #77A0A9;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 8px;
  background-color: #D72483;
  border-radius: 5px;
}

.footer a:hover {
  padding: 10px;
}

/* Form elements */

#form_container {
  display: none;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  
  margin: 0px;
  border-radius: 10px;
  padding: 5px;

  position: absolute;
  background-color: rgba(220, 220, 221, 0.911);
  width: 75%;
  height: 75%;
}

#web_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center; 
  justify-content: center;
}

#web_form * {  
  padding: 5px;
  font-family: 'Lato', sans-serif;
  opacity: 1 !important;
}

#web_form input[type=submit] {
  min-height: 40px;
  border: 0px;
  border-radius: 3px;
  background-color: #77A0A9;
  color: white;
  transition: background-color 0.5s ease-out;
}

#web_form input[type=submit]:hover { background-color: rgb(132, 202, 218); }

#close_form {
  min-height: 40px;
  border: 0px;
  border-radius: 3px;
  background-color: rgb(199, 2, 2);
  color: white;
  transition: background-color 0.5s ease-out;
}

#close_form:hover { background-color: rgb(255, 0, 0); }

#web_form h1 {text-align: center;}

.form_element_container {
  background-color: #C5C3C6;
  border-radius: 10px;
  padding: 20px;
}

.text_container {
  display: flex;
  flex-direction: column;
}

.text_container input { max-width: 300px; border: 0px; border-radius: 3px; }

.textarea_container { display: flex; flex-direction: column; }

.textarea_container textarea { resize: none; border: 0px; border-radius: 3px; }

/* Responsive */
@media (max-width: 500px) {
  .card_showcase {
    flex-direction: column;
  }
  .card {
    align-self: center;
    padding: 40px;
  }
  .large_text_gather {
    padding: 55px;
  }
  .footer {
    gap: 0px;
    flex-direction: column;
  }
  #form_container {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}