<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script type="text/javascript" src="{{ url_for('static', filename='script.js')}}">

	</script>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<title>Salsa</title>
</head>

<body>
	<div id="main_page_container">
		<div id="header">
			<h1>Salsa: A quick one-page portfolio creator!</h1>
		</div>
		<div class="container">
			<div id="blob_bg">
				<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
					<path fill="#FF0066" d="M48.5,-37.8C64.4,-18.9,79.6,1.4,77.8,21.1C75.9,40.7,57,59.8,36.9,65C16.8,70.3,-4.3,61.6,-20.8,50.7C-37.3,39.9,-49.2,26.9,-52.6,12C-56,-2.9,-51,-19.8,-40.9,-37.5C-30.7,-55.1,-15.3,-73.5,0.5,-73.9C16.4,-74.4,32.7,-56.8,48.5,-37.8Z"
					 transform="translate(100 100)" />
				</svg>
			</div>
			<div class="large_text_gather">
				<label for="basic_info">Create your website quickly with just a simple introduction!</label>
        <textarea id="basic_info" name="basic_info" rows="5" cols="20" placeholder="Type something about your portfolio or yourself here!"></textarea>
      </div>
    </div>
  </div>
</body>
</html>